@use '../base/variables' as val;

.header {
  background-color: val.$verde;
  h1 {
    color: val.$blanco;
  }
}

.navegacion-principal {
  a {
    color: val.$blanco;
    font-size: 2.4rem;
    &:hover {
      color: val.$amarillo;
    }
  }
}