@use '../base/variables' as val;
@use '../base/mixins' as mixs;

.lineup {
  background-color: val.$rosa;
  padding: 5rem 0;

  h3, p {
    text-align: center;
    color: val.$blanco;
  }
  .dia {
    text-transform: uppercase;
    margin: 5rem 0;
  }
}

.escenario-contenedor {
  @include mixs.tablet {
    @include mixs.grid(2, 5rem);
  }

  p {
    color: val.$negro;
  }
}

.escenario {
  padding-top: 2rem;
  .nombre-escenario {
    &:after {
      content: '';
      display: block;
      width: 20rem;
      height: 10rem;
      background-size: 15rem;
      background-repeat: no-repeat;
      background-position: center center;
      margin: 2rem auto 0 auto;
    }
  }
}

.edm .nombre-escenario:after{
  background-image: url('../img/icono_edm.png');
}

.rock .nombre-escenario:after{
  background-image: url('../img/icono_rock.png');
}

.calendario {
  @include mixs.reset_list;
  li {
    padding: 2.5rem;
    font-weight: 700;
    span {
      font-weight: 400;
    }
  }
}

.bg-amarillo {
  background-color: val.$amarillo;

  li:nth-child(odd) {
    background-color: darken(val.$amarillo, 15%);
  }
}
.bg-verde {
  background-color: val.$verde;
  li:nth-child(odd) {
    background-color: darken(val.$verde, 15%);
  }
}