@use 'variables' as val;

@mixin telefono {
  @media (min-width: val.$telefono) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: val.$tablet) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: val.$desktop) {
    @content;
  }
}
@mixin desktopXL {
  @media (min-width: val.$desktopXL) {
    @content;
  }
}

@mixin grid($columnas, $unidad) {
  display: grid;
  grid-template-columns: repeat($columnas, 1fr);
  gap: $unidad;
}

@mixin reset_list {
  margin: 0;
  padding: 0;
  list-style: none;
}